@import url('https://fonts.googleapis.com/css?family=Convergence&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open Sans&display=swap');

div.header {
position: static;
padding-top: 25px;
padding-bottom: 5px;
width: 1500px;
height: 60px;
font-size: 20px;
text-align: center;
font-family: Convergence;
text-shadow: 2px 2px #69D2E7;
background-image: linear-gradient(to bottom right, #69D2E7, #A7DBD8, #E0E4CC, white);
border: #E0E4CC double 5px;
display: table-cell;
}
a {
margin-left: 30px;
color: black;
font-size: 13px;
font-weight: bold;
text-decoration: underline;
}
a: link {
	color: black;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}
a: visited {
	color: black;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}
a: hover {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}
a: active {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}
h2 {
font-family: Convergence;
text-align: center;
}

div.links {
position: relative;
color: black;
font-family: Convergence;
z-index: 1;
}
div.body {
	position: absolute;
	margin-top: 5px;
	margin-right: 10px;
	border: double 5px #E0E4CC;
	background-image: linear-gradient(to bottom right, #69D2E7, #A7DBD8, #E0E4CC, white);
}
div.text {
	position: relative;
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
	background-color: white;
	margin-bottom: 100px;
	border: #E0E4CC double 5px;
	border-radius: 20px;
	font-family: Open Sans;
	padding: 40px;
	text-align: justify;
}
div.footer {
height: 50px;
background-image: linear-gradient(to bottom right, #69D2E7, #A7DBD8, #E0E4CC, white);
border: double 5px #E0E4CC;
font-family: Open Sans;
padding: 20px;
}
